extends ../layout/main
block variables
    - var pageTitle = 'Main page'

block content
    .test__main
        .test__column-a Column 1
        .test__column-a Column 2

block script
    script(src='assets/js/build.js')