block variables

doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='assets/css/build.css', rel='stylesheet')
  body
    .test
        include ../modules/header
        block content
        include ../modules/footer
    block script